@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

* {
    /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; */
    font-family: var(--main-font);
    font-weight: 400;
    scroll-behavior: smooth;
    scroll-margin: 80px;
}

:root {
    --main-font: "Zen Dots", sans-serif;
    --secondary-font: Verdana, Geneva, Tahoma, sans-serif;

    --white: #ffffff;
    --red: #e10600;
    --red: #0271b9;
    --light-gray: #696969;
    --gray: #15151e;
    --black: #080808;
}

body {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: fit-content;
    background-color: var(--white);
}

header {
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    background-color: var(--red);
    z-index: 1000;
}

header .content {
    position: relative;
    max-width: 1300px;
    height: 100%;
    margin: auto;
}

header .content .main-logo {
    position: absolute;
    height: 100%;
    top: 10px;
    left: 20px;
}

header .main-logo img {
    position: relative;
    height: calc(100% - 20px);
}

header nav {
    position: absolute;
    height: 100%;
    right: 20px;
    top: 0px;
    margin: auto;
}

header nav ul {
    list-style-type: none;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

header nav ul li {
    display: inline-block;
    height: 100%;
    flex-basis: 100%;
    transition: 200ms ease-out all;
}

header nav ul li.selected > a span {
    border-bottom-right-radius: 15px;
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
}

header nav ul li:hover {
    background-color: var(--gray);
}

header nav ul li.selected:hover > a span {
    border-right: transparent;
    border-bottom: transparent;
}

header nav ul li a {
    position: relative;
    display: inline-block;
    color: var(--white);
    font-family: var(--main-font);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
}

header nav ul li a span {
    padding: 10px;
    transition: 200ms ease-out all;
}

main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    max-width: 1300px;
}

main.margin-bottom {
    margin-bottom: 30px;
}

main.margin-top {
    margin-top: 130px;
}

footer {
    width: 100%;
    background-color: var(--gray);
    color: var(--white);
    font-family: var(--main-font);
}

footer .content {
    position: relative;
    max-width: 1300px;
    height: 100%;
    margin: auto;
}

footer h2 {
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    padding-top: 40px;
}

footer hr {
    /* width: 95%; */
    margin: 20px auto;
    border-color: #494949;
}

footer .partners,
footer .footer-info,
footer .bottom {
    margin: 0 auto;
    width: 90%;
}

footer .partners .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

footer .partners .partner-card {
    width: 120px;
}

footer .partners .partner-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    margin: auto;
    display: block;
}

footer .footer-info {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
}

footer .footer-info li {
    width: fit-content;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    font-size: 0.65em;
}

footer .footer-info li.big {
    font-size: 1em;
}

footer .footer-info > div * {
    margin: 12px 0;
}

footer .footer-info li:hover {
    border-bottom: 2px solid var(--red);
}

footer .bottom {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.6em;
    padding-bottom: 20px;
}

footer .bottom img {
    height: 90%;
}
